*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

/*label.logo {
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 40px;
    line-height: 80px;
    -webkit-text-stroke-color: rgb(109, 110, 110);
    -webkit-text-stroke-width: .5px;
}*/

img#hikiimg {
    height: 40px;
    width: 104px;
    padding-top: 20px;
    padding-left: 70px;
}

nav.navbar {
    height: 80px;
    width: 100%;
    background: #559596;

}

body {
    background: rgb(61, 59, 59);
}

nav ul {
    float: right ;
    margin-right: 200px ;
    margin-top: 26px;
    font-size: 25px;
    word-spacing: 50px;
}

nav li{
    display: inline-flex;
    font-family: 'Lato', sans-serif;
    flex: 1;
}

li a:link {
    color: honeydew;
}

li a:visited {
    color: honeydew;
}

li a:hover {
    color: rgb(219, 219, 219);
}

li a:active {
    color: grey;
}

img#hikiimg2 {
    height: 60px;
    width: 156px;
    image;
}

div.icon {
    text-align: center;
}

h1.HPheading {
    
}

nav img {
    flex: auto;
}